<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { init } from 'aos';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  GetStartedHero,
  GetStartedCopyInfo,
  GetStartedSteps,
} from '../../components/get-started/index.vue';
import GetStartedNextSteps from '../../components/get-started/next-steps.vue';

export default Vue.extend({
  name: 'GetStarted',
  components: {
    GetStartedNextSteps,
    GetStartedSteps,
    GetStartedCopyInfo,
    NextStep,
    GetStartedHero,
  },
  async asyncData({ $content, params, error }: any) {
    try {
      const doc = await $content('get-started', params.slug).fetch();
      return { doc };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).doc, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
});
</script>

<template>
  <div>
    <SlpContainer>
      <GetStartedHero v-if="doc.hero" :data="doc.hero" />
    </SlpContainer>
    <SlpContainer>
      <!-- Here will be the SideNav component-->
      <GetStartedCopyInfo v-if="doc.copy_info" :data="doc.copy_info" />
      <GetStartedSteps v-if="doc.steps" :data="doc.steps" />
    </SlpContainer>
    <div class="slp-bg-surface-800 slp-py-96">
      <SlpContainer>
        <GetStartedNextSteps v-if="doc.next_steps" :data="doc.next_steps" />
      </SlpContainer>
    </div>
    <SlpContainer>
      <NextStep />
    </SlpContainer>
  </div>
</template>

<style scoped></style>
