<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
      default: 0,
    },
    isDarkMode: {
      type: Boolean,
      required: false,
    },
  },
};
</script>

<template>
  <div class="wrapper">
    <div class="progress-bar" :class="{ dark: isDarkMode }">
      <div class="buffer" :style="{ transform: `translateX(${value}%)` }">
        <div class="filled-bar"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.buffer {
  width: 85%;
  position: relative;
}

.progress-bar {
  position: relative;
  margin: $spacing-8 0;
  height: 3px;
  width: 100%;
  display: flex;
  overflow: hidden;
  background: $color-surface-200;

  &.dark {
    background: #35296b;
  }
}

.dark .filled-bar {
  background: linear-gradient(90deg, #ef8cf3 0%, #825ee9 100%);
}

.filled-bar {
  position: relative;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 64px;
  background: $color-surface-700;

  &:hover {
    cursor: pointer;
  }
}
</style>
